<nav class="navbar navbar-light">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">LOGO APP</a>
    <!-- Logged out user -->
    <ul *ngIf="!isLoggedIn" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign up</a>
      </li>
    </ul>

    <!-- Logged in user -->
    <ul *ngIf="isLoggedIn" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link active" [routerLink]="['/']"
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active"> &nbsp;New Job </a>
      </li>
    </ul>
    <div class="logged-in" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a data-e2e-id="loggedin-user" class="nav-link" [routerLink]="['/profile']" routerLinkActive="active">
          <img [src]="'../assets/user-avatar.svg'"  class="user-pic" /> UserName
        </a>
      </li>
      <li class="nav-item logout">
          <img (click)="logout()" [src]="'../assets/logout_icon.svg'"  class="user-pic" />
      </li>
    </div>
  </div>
</nav>
