.navbar-container {
  width: 100%;
}

.navbar-brand {
  width: 20%;
}

.navbar {
  background-color: #111111;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  width: 60%;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.navbar .nav-item {
  display: inline;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  line-height: 30px;
}
.logged-in {
  width: 20%;
  display: inline-block;
  float: right;
}

.logged-in img {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
